<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="dbNWBA" connectionString="server=LEGAL\SQLEXPRESS;database=NWBA;Trusted_Connection=yes;Integrated Security=true;user=db_user;password=P@ssw0rd"/>
  </connectionStrings>
  
  <!--<appsettings></appsettings>-->
  
</configuration>